.header {
    background-color: rgb(231, 212, 6);
    height: 16vh;
    
}

.headerSearch {
    text-align: center;
    height: 8vh;
}

#search{
    height: 3vh;
    margin-top: 3vh;
    border-radius: 1%;
}

.headerOptions {
    text-align: center;
    height: 8vh;
    border: solid rgb(112, 108, 108) 0.2vh;
    line-height: 6vh;    
}

.options {
    color: black;
    vertical-align: middle;
    margin-left: 2vw;
}

.options:hover{
    transition-duration: 0.5s;
    padding: 0.5%;
    background-color: rgba(88, 82, 63, 0.585);

}

.container {
    background-color: rgb(228, 220, 220);
    height: 84vh;
    text-align: center;
}


.containers{
    height: 15vh;
    width: 80vw;
    margin-top: 6vh;
    display: inline-block;
}

.benefits {
    background-color: white;
    text-align: center;
    border-radius: 0.5vw;
}

.info1, .info{
    height: 15vh;
    width: 20vw;
    text-align: left;
    float: left;  
}

.info1 {
    border-right: solid rgb(112, 108, 108) 0.3vh; 
}

.title, .subtitle {
    margin-top: 3vh;
    margin-left: 1vw;
}

.subtitle{
    margin-top: 0.3vh;
}

.oldprice{
    
    text-decoration: line-through;
    color: rgb(22, 0, 0);
}

.card {
    background-color: white;
    margin-top: 3vh;
    width: 15vw;
    height: 224px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    float: left;
    overflow: hidden;    
}

.card:hover{
    transition-duration: 0.2s;
    transition-timing-function: linear;
    height: 35vh;
}

.img {
   border-bottom: 2px solid #681212;
   margin-bottom: 10px;
}

.oldprice{
    text-decoration: line-through;
    margin-left: 1.5vw;
    margin-top: 0.5vh;
    text-align: left;
    font-size: 1.2vh;
}

.title2, .subtitle2{
    margin-left: 1.5vw;
    margin-top: 0.5vh;
    text-align: left;
    
} 