.header {
    background-color: rgb(231, 212, 6);
    height: 16vh;
    
}

.headerSearch {
    text-align: center;
    height: 8vh;
}

#search{
    height: 3vh;
    margin-top: 3vh;
    border-radius: 1%;
}

.headerOptions {
    text-align: center;
    height: 8vh;
    border: solid rgb(112, 108, 108) 0.2vh;
    line-height: 6vh;    
}

.options {
    color: black;
    vertical-align: middle;
    margin-left: 2vw;
}

.container {
    background-color: rgb(228, 220, 220);
    height: 84vh;
    text-align: center;
}

.box {
    background-color: white;
    height: 15vh;
    width: 80vw;
    margin-top: 6vh;
    text-align: center;
    display: inline-block;
    border-radius: 0.5vw;
}

.info1, .info{
    height: 15vh;
    width: 20vw;
    text-align: left;
    float: left;  
}

.info1 {
    border-right: solid rgb(112, 108, 108) 0.3vh; 
}

.title, .subtitle {
    margin-top: 4.5vh;
    margin-left: 1vh;
}

.subtitle{
    margin-top: 0.5vh;
}
