

/* definindo as características gerais */
body {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px; 
    padding: 20px;
    background-color: rgb(29, 28, 28);
}

/* definindo cabeçalho */   
.container1{
    max-width: 90vw;
    margin: 0 auto;
}
h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;         
}
/* ajustando cabeçalho */ 
.cardB{
    width: 42vw;
    height: 3vw;
    margin: 1vw 1.5vw;
    float: left;
    background-color: rgb(134, 151, 126);
    color: white;
    
}

.container2 {
    width: 90vw;
    margin: 10vw auto;
}

/* definindo as seções */
.section { 
    width: 42vw;
    height: 10vw;
    margin: 1vw 1.25vw;
    padding: 0.5px;
    float: left;
    background-color: rgb(239, 103, 189);
    color: white;
    
   
}
/* detalhes finais, sobre titulo e parágrafo */ 
.section h2 {
    font-size: 18px;
    color: yellow;
    margin-bottom: 10px;
}

.section p {
    font-size: 14px;
    
}

