/* Cabeçalho */
.cabecalho {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
 }
 

 .icone {
    height: 24px;
    margin-left: auto;
 }


 /* Corpo principal */
 .containerOrigem {
     width: 100%;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: white;
     padding-top: 60px; /* Ajuste para não cobrir o cabeçalho */
 }
 
 /* Produto principal */
 .containerPrimario {
     text-align: center;
     padding: 20px;
     width: 80%;
     max-width: 500px;
     border-radius: 10px;
    
 }
 
 .botaoPrincipal {
     margin-top: 20px;
     margin-bottom: 15px;
     border: none;
     background-color: black;
     color: white;
     padding: 10px 20px;
     cursor: pointer;
 }
 
 .imgProdutoPrincipal img {
     margin-top: 20px; 
     width: 100%;
     max-width: 250px;
     height: auto;
     display: block;
     margin: 0 auto;
 }
 
 /* Container dos produtos */
 .containerSecundario {
     width: 90%;
     max-width: 1200px;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     gap: 20px;
     padding: 20px;
     flex-wrap: wrap;
     
 }
 
 .produtos {
     text-align: center;
     background: white;
     padding: 10px;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
     width: 250px;
 }
 
 .imgProduto {
     width: 100%;
     height: 37vh;
     border-radius: 5px;
 }
 
 .descricaoProduto {
     margin-top: 10px;
     font-size: 16px;
     font-weight: bold;
 }
 
 /* Container do formulário (Menor que os outros) */
 .containerFormulario {
     width: 40%;
     max-width: 400px;
     height: auto;
     text-align: center;
     border-radius: 10px;
     padding: 20px;
     
     margin-top: 10px;
     background-color: gainsboro;
 }
 
 .containerFormulario label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
}

.containerFormulario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.containerFormulario button {
    width: 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* rodape */














 /* Responsividade */
 @media (max-width: 800px) {
     .containerOrigem {
         height: auto;
     }
 
     .containerPrimario,
     .containerSecundario {
         height: auto;
         flex-direction: column;
         padding: 30px;
     }
 
     .containerFormulario {
         width: 80%;
         max-width: 300px;
         padding: 20px;
     }
 }
 