body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 105, 180, 0.739);
}

.cabecalho {
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
    background-color: dimgray;
    color: aqua;
}

.container {
    max-width: 90vw;
    margin: 30px auto;
}

.caixa {
    width: 42vw;
    height: 10vh;
    margin: 1vw 1.5vw;    
    background-color: blue;
    float: left;

}